@media screen and (max-width: 1100px) {
  .hero {
    background-size: 60%;
  }

}



@media screen and (max-width: 992px) {
  .header__inner {
    justify-content: center;
  }

  .about {
    padding: 5rem 0 5rem;
  }

  .features__inner {
    padding-left: 0;
    margin: 0 auto;
  }

  .features__text {
    margin-bottom: 5rem;
  }

  .features__items {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
}



@media screen and (max-width: 768px) {
  .hero {
    background: none;
    text-align: center;
  }

  .hero__items {
    text-align: center;
  }

  .hero__title {
    max-width: none;
    font-size: 5rem;
    line-height: 6rem;
  }

  .hero__text {
    max-width: none;
  }

  .about__inner {
    flex-direction: column;
  }

  .about__img {
    margin-right: 0;
    margin: 0 auto;
    max-width: 40%;
  }

  .about__items {
    padding: 5rem 1rem;
    text-align: center;
    max-width: none;
  }

  .about__title {
    font-size: 3.5rem;
  }

  .features__title {
    font-size: 3.5rem;
  }

  .testimonials {
    padding: 5rem 0;
  }

  .testimonials__inner {
    padding: 5rem 1rem;
    align-items: center;
  }

  .testimonials__item {
    display: none;
  }

  .testimonials__item {
    padding: 2rem 2rem;
  }

  .testimonials__item--active {
    display: block;
    margin: 0;
    max-width: 100%;
  }

  .testimonials__wrapper {
    width: 100%;
  }

  .testimonials__title {
    margin-bottom: 5rem;
    font-size: 3.5rem;
  }

  .testimonials__arrows {
    display: none;
  }
}



@media screen and (max-width: 576px) {
  .header__inner {
    padding-top: 2rem;
    flex-direction: column;
  }

  .menu__list {
    margin-left: 0;
  }

  .logo {
    margin-bottom: 2rem;
  }

  .hero__inner {
    padding: 5rem 0 5rem;
  }

  .hero__title {
    font-size: 4rem;
  }

  .about__items {
    padding: 3rem 1rem;
  }

  .about__img {
    display: none;
  }

  .about__title {
    font-size: 2.7rem;
  }

  .about__text {
    font-size: 1.5rem;
  }

  .features__item--img {
    display: none;
  }

  .features__title {
    font-size: 2.7rem;
  }

  .testimonials__title {
    font-size: 2.7rem;
  }

  .footer__inner {
    padding: 5rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .footer__logo {
    margin-bottom: 3.6rem;
}

  .footer__rights{
    margin-bottom: 3.6rem;
  }

  .footer__social{
    text-align: center;
    max-width: none;
    width: 100%;
  }
  /* тут нет отступа  .footer__social-items{ -  .footer__social-items { стиль кода должен быть единый */
  .footer__social-items{
    justify-content: space-evenly;
  }

  .footer__social-item+.footer__social-item{
    margin: 0;
  }
}



@media screen and (max-width: 480px) {
  .about__title {
    font-size: 2.4rem;
    line-height: 4rem;
  }

  .features__bg {
    display: none;
  }

  .features__item {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 5rem;
    padding: 3rem 1rem;
    margin: 0 auto;
    min-height: 0;
  }

  .features__item--title {
    text-align: center;
  }

  .features__item--link {
    padding-left: 1rem;
  }
}



@media screen and (max-width: 320px) {
  .hero__title {
    font-size: 4rem;
    line-height: 6rem;
  }

  .hero__text {
    font-size: 1.6rem;
  }

  .about__title {
    line-height: 3.5rem;
  }

  .testimonials__wrapper {
    display: block;
  }
}
