@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --color-prime: #212353;
  --color-scnd: #4B5D68;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #fff;
  font-size: 1.8rem;
  line-height: 2.9rem;
}

/* .hero, */
.about,
.features,
.testimonials,
.footer {
  /* display: none; */
}

.container {
  max-width: 114rem;
  padding: 0 1rem;
  margin: 0 auto;
}